
body{
	font-family:'STHeiti','Microsoft YaHei',Helvetica,Arial,sans-serif;margin:0 auto;
	max-width: 750px;
	background: #fff;
}
img {
	vertical-align: top;
	width: 100%;
}
#main {
	width: 9rem;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.logo {
	width: 6.1rem;
	margin: 0 auto 0.5rem;
}
.photo {
	margin-bottom: 0.5rem;
}
.ulLink {
	width: 7.5rem;
	margin: 0 auto;
}
.ulLink li {
	padding: 0 0.4rem 0.3rem 0.2rem;
}
.ulLink li:last-child {
	padding: 0 1rem 0.5rem 0.8rem;
}
.ulLink .link01,
.ulLink .link02 {
	padding: 0 0.4rem 0.3rem 0.2rem;
}