/* 
* @Author: Lydia
* @Date:   2017-12-23 10:28:10
* @Last Modified by name:   Lydia
* @Last Modified time: 2018-10-13 21:20:13
*/
charset "utf-8";
html {font-size: 62.5%;
    -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {padding: 0;margin: 0;}
/* 
    HTML5 display definitions
*/
body{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;font-size: 14px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizespeed; }
article,aside,details,
figcaption,figure,footer,header,hgroup,main,
nav,section,summary {display: block;}
/*****表单样式重置****
 */
button,input,select,textarea {vertical-align: baseline;*vertical-align: middle;}
button,input {line-height: normal;}
button,select {text-transform: none;}
ul,li,ol,dl,dd{list-style: none;}
h1,h2,h3,h4,h5,h6 {line-height: 1.5;}
input,button,select,textarea {font-family: 'Microsoft Yahei';font-size: 14px;}
a{ text-decoration: none;}
img{border:0;}
input,button{outline:none;}
button,input[type='button']{ cursor: pointer;}
/* 
****重置表格元素****
 */
table {border-collapse: collapse;border-spacing: 0;}
img{border:0;}
/* 
****清除浮动样式设置****
 */
i{ font-style: normal;}
.clearfix {display: block;zoom: 1;}
.clearfix:after,.clearfix:before{content: " ";display: block;font-size: 0;height: 0;clear: both; visibility: hidden;}
.fl{float: left;}
.fr{float: right;}
/*
*****高自动，超出部分隐藏****
 */
.ht-over{ height: auto; overflow: hidden;}
.tl{text-align: left;}
.tc{ text-align: center;}
.tr{ text-align:right;}
.fontBold{ font-weight: bold;}

.border-box{-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;}
.border-box:before,.border-box:after {-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;}
.table{color:#444c63;}
/*****设置为块元素*****/

.block{display: block;}
.lineBlock{display: inline-block;}
/*****设置包裹容器*****/
.container { width:100%;max-width: 750px;margin: 0 auto;}
/*****清除浮动样式设置**** */
.clearfix {display: block;zoom: 1;}
.clearfix:after,.clearfix:before{content: " ";display: block;font-size: 0;height: 0;clear: both; visibility: hidden;}
.float_lf,.fl{float: left;}
.float_rt,.fr{float: right;}
/*文字对齐*/
.tl{ text-align: left;}
.tr{ text-align: right;}
.tc{ text-align: center;}
/******高自动，超出部分隐藏*****/
.ht_over{ height: auto; overflow: hidden;}

/*遮罩层*/
.none,.displaynone{display:none;}
.maskBOX{position: fixed;top:0;bottom: 0;left: 0;right: 0;filter:alpha(opacity=30);background:#000;
      opacity: 0.5;z-index: 99;}
/*一行或者多行省率号显示*/
.fontrate{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.morerate{display: -webkit-box;-webkit-box-orient: vertical;
    -webkit-line-clamp: 2;overflow: hidden;}
.threerate{display: -webkit-box;-webkit-box-orient: vertical;
    -webkit-line-clamp: 3;overflow: hidden;}
.fourrate{display: -webkit-box;-webkit-box-orient: vertical;
    -webkit-line-clamp: 4;overflow: hidden;}
.fiverate{display: -webkit-box;-webkit-box-orient: vertical;
    -webkit-line-clamp: 5;overflow: hidden;} 
.mt_10{ margin-top: 10px;}
.mt_15{margin-top: 15px;}
.mt_18{margin-top: 18px;}
.mt_20{margin-top: 20px;}


/*header*/
body{background:#06010c; }
.header{background:#171717;padding:3px 0;}
.header img{width:100%;}
.header .headlf{margin-left: 1.5%;width:17.6%; }
.header .headlf img{margin-top: 12%;}
.header .headct{width:29.6%;margin-left: 20%;}
.header .headct img{margin-top: 2%;}
.bannerbox img{width:100%;}
/*mainbox*/
.mainbox{border:1px solid #7f6d07;border-radius: 10px;box-shadow: 0px 0px 15px #7f6d07 inset; margin-bottom: 80px;box-sizing: border-box;color:#fff; background:url(../imgs/mainbg.png) top center no-repeat; background-size: 100% 100%;}
.main{border:1px solid #7f6d07;margin:10px;border-radius: 10px;box-shadow: 0px 0px 5px #356281 inset; padding:10px; }
.linebox ul{height: 115px;text-align: center;}
.linebox li{width:80px; display: inline-block; height:80px;color:#b12e15; margin:0 4%;position:relative;border-radius: 50%; margin-top: 12px;background:url(../imgs/linebox.png) top center no-repeat;background-size: 100% 100%; }
.linebox li a{color:#b12e15; font-size: 11px; line-height: 20px;text-align: center; display:block;text-align: center;}

.linebox li .linenumber{color:rgb(254,208,0); margin-top: 22%; line-height: 15px;background-image: -webkit-linear-gradient(top, rgb(254,208,0), rgb(254,208,0));font-size: 12px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
.linebox li .linetext{color:#FFF;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.linebox li .linebtn{line-height: 15px;
  background-image: -webkit-linear-gradient(top, #fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tip{margin-top: 20px;color:#f5cf5a;}
.tip span{color:#fff600;}
.reload{margin-bottom: 20px;}

.reload img{ max-width:299px; margin-top: 12px;}
.flexbox{display:flex; margin-top: 8px;}
.commontitle{color:#eac149;}
.flexbox img{margin-right:6px;}
.textindent {color:#fff;line-height: 25px; margin-top: 5px;}



/*footernav*/
.footernav{width:100%;height:60px;position:fixed; bottom:0;left:0;background:#171717;}
.foot{ height:100%;}
.foot li{float:left;width:25%;box-sizing: border-box; height:60px;text-align: center;}
.foot li:nth-child(2n){background:#0f0f0f;}
.foot li a{color:#fff;}
.foot li div span{display:block;width:32px;height:25px;margin:6px auto 0 auto;overflow:hidden;background:url(../imgs/navbg.png); background-size: auto 100%;}
.foot li p{line-height: 28px;}
.foot li:nth-child(1) span{background-position:0px 0;}
.foot li:nth-child(2) span{background-position:-110px 0;}
.foot li:nth-child(3) span{background-position:-216px 0;}
.foot li:nth-child(4) span{background-position:-324px 0;background-repeat: no-repeat;}
.foot li.on a{color:#fae20b;}



@media screen and (max-width:360px){
    .linebox li{
		width:76px;
		height:76px;
	}
	.linebox li .linetext{font-size:2.7vw;}
}
@media screen and (max-width:320px){
    .linebox li{width:67px;height:67px; }
    .linebox li .linenumber{margin-top: 20%;}
	.linebox li .linetext{font-size:2.8vw}
	.linebox li .linebtn{font-size:2.8vw}
	.linebox li a{line-height:12px;}
}

@media screen and (min-width:500px){
    .linebox li {margin-top: 30px;height:148px;width:148px;  font-size: 16px;}
    .linebox li .linenumber{margin-top: 24%;}
    .linebox li a{ line-height: 40px; font-size: 16px;}
    .linebox li .linetext{ margin:0 0 5px 0;}
}
@media screen and (min-width:376px) and (max-width:415px){
  .linebox li{width:90px;height:90px;}
}


